#root {
  max-width: 1280px;
  padding: 2rem;
  padding-bottom: 0%;
  text-align: center;
}

/* Figure out how to do this in tailwind*/
.swiper-slide > a::-webkit-scrollbar {
  display: none;
}
.swiper::-webkit-scrollbar {
  display: none;
}
